<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8"></meta>
    <title>忘记密码</title>
</head>
<body>
<div id="qm_con_body">
    <div id="mailContentContainer" class="qmbox qm_con_body_content qqmail_webmail_only">

        <style>
            .qmbox a {
                color: #009A61;
                text-decoration: none;
            }
            .qmbox h4 {
                font-size: 15px;
                font-weight: bold;
            }
        </style>

        <center></center>
        <div style="margin: 80px auto 0; width: 580px; background: #FFF; box-shadow: 0 0 10px #333; text-align:left;">
            <div style="margin: 0 40px; color: #999; border-bottom: 1px dotted #DDD; padding: 40px 0 30px; font-size: 13px; text-align: center;">
                <br></br>
                低电查询
            </div>
            <div style="padding: 30px 40px 40px;">
                您好，这是密码找回邮件
                <br></br>
                要找回的的账号<span th:text="${email}">email</span>
                <br></br>
                如果确认是本人操作，请用下面的验证码重置密码：
                <h1 ><span th:text="${confirm_code}">11111</span></h1>
                <br></br>
                找回密码遇到问题？请联系我们 a1330661071@gmail.com
            </div>

        </div>



        <br></br>
        <div style="width:1px;height:0px;overflow:hidden"><img style="width:0;height:0" src="javascript:;"></img></div>

        <style type="text/css">.qmbox style, .qmbox script, .qmbox head, .qmbox link, .qmbox meta {display: none !important;}</style>
    </div>
</div>
</body>
</html>