<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    </meta>
    <title>Title</title>
</head>
<body>
<div id="qm_con_body">
    <div id="mailContentContainer" class="qmbox qm_con_body_content qqmail_webmail_only">

        <style>
            .qmbox a {
                color: #009A61;
                text-decoration: none;
            }

            .qmbox h4 {
                font-size: 15px;
                font-weight: bold;
            }
        </style>

        <center></center>
        <div style="margin: 80px auto 0; width: 580px; background: #FFF; box-shadow: 0 0 10px #333; text-align:left;">
            <div style="margin: 0 40px; color: #999; border-bottom: 1px dotted #DDD; padding: 40px 0 30px; font-size: 13px; text-align: center;">
                <br></br>
                低电查询
            </div>
            <div style="padding: 30px 40px 40px;">
                您好，系统检测到您订阅的
                <span th:text="${dormName}"></span>
                处于低电状态
                <br></br>
                电量：<span th:text="${power}"></span>千瓦时
                <br></br>
                请赶快完成充电，以免停电。

                <br></br>
                <br></br>


                <div style="text-align: right;">
                    <br></br>
                    <br></br>
                    <span th:text="${dayTime}">2017年</span>
                </div>
            </div>

            <div style="background: #EEE; border-top: 1px solid #DDD; text-align: center; height: 90px; line-height: 90px;">
                <a href="#"
                   style="padding: 8px 18px; background: #009A61; color: #FFF; text-decoration: none; border-radius: 3px;"
                   target="_blank">前往官网 ➔</a>
            </div>
        </div>


        <br></br>
        <div style="width:1px;height:0px;overflow:hidden">
            <img style="width:0;height:0" src="javascript:;"></img>
        </div>

        <div style="padding-top: 1px; padding-bottom: 80px; text-align: center; font-size: 12px; color: #999;">
            * 如果不想再收到类似邮件，可去官网取消寝室绑定
        </div>
    </div>
</div>
</body>
</html>